@use '../_mixins.scss';

header {
	position: fixed;
	top: 0;
	background-color: rgba(255, 255, 255, 0.72);
	border-bottom: 1px solid rgba(168, 157, 157, 50%);
	z-index: 999999;
	width: 100%;
	backdrop-filter: saturate(180%) blur(20px);
	height: $nav;
}

nav {
	padding: 0rem 1rem;
	height: 100%;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	h1 {
		font-size: 1.3rem;
		font-weight: 600;
	}
}