.section1 {
	color: #1d1d1f;
	width: 85%;
	margin: auto;
	margin-top: -5rem;

	h3 {
		font-size: 1.2rem;
		font-weight: 600;
	}

	h2 {
		margin-top: 10px;
		font-size: 3rem;
		font-weight: 600;
		width: 90%;
		line-height: 3.2rem;
		overflow: hidden;
	}
	article {
		p {
			overflow-y: hidden;
			width: 100%;
			text-align: left;
			font-size: 1.2rem;
			font-weight: 600;
			margin-top: 10px;
			margin-right: 0;
		}
	}
}
