/************** Fonts ***************/
@font-face {
	font-family: SF Pro;
	src: url(../fonts/SFUIDisplay-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: SF Pro;
	src: url(../fonts/SFUIDisplay-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: SF Pro;
	src: url(../fonts/SFUIDisplay-Semibold.otf);
	font-weight: 600;
}

@font-face {
	font-family: SF Pro;
	src: url(../fonts/SFUIDisplay-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: SF Pro;
	src: url(../fonts/SFUIDisplay-Heavy.otf);
	font-weight: 800;
}
