/************** Variables ***************/
$nav: 3rem;

/************** Reset ***************/
*,
*::before,
*::after,
body,
html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: SF Pro;

}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
video {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	z-index: -1;
}

